body{
    margin: 0;
    padding: 0;
    background-color: #010C15;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.vs {
    margin: 69px 69px 69px 69px;
    width: 1782px;
    height: 941.32px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #1E2D3D;
    background: #011627;
    overflow: hidden;
}

nav{
    width: 1782px;
    height: 56.191px;
    flex-shrink: 0;
    border: 1px solid #1E2D3D;
    display: flex;
    justify-content: space-between;
}

.section1{
    display: flex;
}

.logo{
    width: 311px;
    display: flex;
}

.logo>a{
    color: #607B96;
    margin:17.6px 17.6px 173px 22px ;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.link {
    border-left: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 17.45px;
    padding-bottom: 17.45px;
    padding-right: 32px;
    padding-left: 32px;
}


.link.active{
    border-bottom: 3px solid #FEA55F;
}

.link.active>a{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}


.link>a{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

/* Main */
main{
    height: 830.81px;
    width: 1782px;
    display: flex;
}

.utilsbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E2D3D;
    padding-left: 24px;
    padding-right: 20px;
}

.utilsbar img{
    margin-top: 33px;
    margin-bottom: 33px;
    cursor: pointer;
}

.taskbar{
    height: 100%;
    width: 243px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E2D3D;
}

.personal_info .head{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40.6px;
    border-bottom: 1px solid #1E2D3D;
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head img {
    transform: rotate(-90deg);
    margin-right: 7.63px; 
    margin-left: 14.5px; 
    cursor: pointer;
}

.head img:hover{
    transform: rotate(-0deg);
    transition: all 0.2s ease-in-out;
}

.dropdown-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-btn img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}

.dropdown-btn p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.dropdown-btn2{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-btn2 img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}


.dropdown-btn2 p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.dropdown-btn3{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-btn3 img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}


.dropdown-btn3 p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  cursor: pointer;
}

.dropdown-container a {
    text-decoration: none;
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8.01px;
    display: flex;
    align-items: center;
    cursor: pointer;
}






/* Footer */
footer{
    display: flex;
    width: 1782px;
    height: 49.742px;
    flex-shrink: 0;
    border: 1px solid #1E2D3D;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

footer .link{
    padding: 0;
    color: none;
}

footer .link img:nth-child(1){
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 14px;
    margin-right: 14px;
}

footer .logo{
    width: 186px;
    height: 49.74px;
    display: flex;
}

footer .logo>a{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}