body{
    margin: 0;
    padding: 0;
    background-color: #010C15;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    cursor: url(../assets/WhitecursorSmall.png), auto;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vs {
    margin: 69px 69px 69px 69px;
    width: 1782px;
    height: 941.32px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #1E2D3D;
    background: #011627;
    overflow: hidden;
}

nav{
    width: 1782px;
    height: 56.191px;
    flex-shrink: 0;
    border: 1px solid #1E2D3D;
    display: flex;
    justify-content: space-between;
}

.section1{
    display: flex;
}

.logo{
    width: 309px;;
    display: flex;
}

.logo>a{
    color: #607B96;
    margin:17.6px 17.6px 173px 22px ;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.logo>a:hover{
    color: #FFF;
    transition: 0.2s ease-out;
}

.link {
    border-left: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 17.45px;
    padding-bottom: 17.45px;
    padding-right: 32px;
    padding-left: 32px;
}


.link.active{
    border-bottom: 3px solid #FEA55F;
}

.link.active>a{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: url(../assets/mousePointerSmall.png), auto;
}


.link>a{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.link>a:hover{
    color: #FFF;
    transition: 0.2s ease-out;
}

/* Main */
main{
    height: 830.81px;
    width: 1782px;
    display: flex;
}

.taskbar{
    height: 100%;
    width: 310px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E2D3D;
}

.personal_info .head{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40.6px;
    border-bottom: 1px solid #1E2D3D;
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head img {
    transform: rotate(-90deg);
    margin-right: 7.63px; 
    margin-left: 14.5px; 
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.head img:hover{
    transform: rotate(-0deg);
    transition: all 0.2s ease-in-out;
}


.dropdown-btn{
    display: flex;
    align-items: center;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-btn img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}

.dropdown-btn p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-btn2{
    display: flex;
    align-items: center;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-btn2 img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}


.dropdown-btn2 p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-btn3{
    display: flex;
    align-items: center;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-btn3 img:nth-child(1):hover{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}


.dropdown-btn3 p{
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  cursor: url(../assets/mousePointerSmall.png), auto;
}

.dropdown-container a {
    text-decoration: none;
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8.01px;
    display: flex;
    align-items: center;
    cursor: url(../assets/mousePointerSmall.png), auto;
}


.contact_info .head{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40.6px;
    border-top: 1px solid #1E2D3D;
    border-bottom: 1px solid #1E2D3D;
    color: #FFF;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.content a {
    display: flex;
    align-items: center;
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.editor{
    display: flex;
    flex-direction: column;
}

.onglets{
    height: 40.6px;
    width: 100%;
    border-bottom: 1px solid #1E2D3D;
}

.tabContact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 167px;
    height: 40.6px;
    color: #607B96;
    border-right: 1px solid #1E2D3D;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tabContact p{
    margin-left: 14.25px;
}

.tabContact img{
    margin-right: 11px;
}

.form{
    display: flex;
    flex-direction: row;
}

.editor form{
    width: 630px;
    height: 794.27px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E2D3D;
}

.editor form input[type="text"], input[type="email"]{
    width: 372px;
    height: 41px;
    flex-shrink: 0;
    color: #465E77;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    border-radius: 8px;
    margin-left: 128px;
    border: 1px solid #1E2D3D;
    background: #011221;
    padding-left: 15px;
}

label{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-left: 128px;
}

textarea{
    resize: none;
    margin-left: 128px;
    width: 372px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #607B96;
    background: #011221;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.30);
    color: #465E77;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

input[type="submit"]{
    margin-left: 128px;
    display: inline-flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #1C2B3A;
    border: none;
    width: 146px;
    height: 38px;
    color: #FFF;
    text-align: right;
    font-family: 'Fira Code', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

input[type="submit"]:hover{
    background: #15212c;
    transition: .2s ease-in-out;
}

.context{
    width: 841px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 115.87px;
}

.lines {
    display: flex;
}

.linenumbers{
    color: #607B96;
    text-align: right;
    font-family: 'Fira Code', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 27px */
    margin-left: 38px;
    margin-right: 40px;
}

.linenumbers p{
     margin: 0;
}


.text{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 27px */
}








/* Footer */
footer{
    display: flex;
    width: 1782px;
    height: 49.742px;
    flex-shrink: 0;
    border: 1px solid #1E2D3D;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

footer .link{
    padding: 0;
    color: none;
}

footer .link img:nth-child(1){
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 14px;
    margin-right: 14px;
}

.footer .link a{
    margin: 0;
}

footer .logo{
    width: 146px;
    height: 49.74px;
    display: flex;
    padding-right: 18px;
    padding-left: 22px;
}

footer .logo>a{
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    cursor: url(../assets/mousePointerSmall.png), auto;
}

footer .contact.link>a:hover{
    color: #FFF;
    transition: all 0.2s;
}